@import "_reset";
@import "_variables";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $red;
  color: white;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10.667vw;
  margin: 0 auto;
  padding: 0 2.667vw;

  .logo {
    a{
        color: $white;
        font-size: 3.2vw;
    }
  }

  .btn-nav {
    color: $white;
    font-size: 3.2vw;
  }
}

/* nav */
nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $grey;

    ul {
        li {
            margin-bottom: 2.667vw;
            color: $black;
            font-size: 5.333vw;
            line-height: 1;
        }
    }
}

/* main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        display: block; 
        width: 100px;
        margin: 0 auto 6.667vw;
    }

    h1 {
        font-size: 5.333vw;
        line-height: 1;
        text-align: center;
    }
}

/* footer */
footer {
  width: 100%;
  height: 10.667vw;
  margin: 0 auto;

  p {
    color: $white;
    font-size: 2.667vw;
    text-align: center;
  }
}